.section {
	margin: 20rem 0;
	width: 100%;
	background-color: #f5f5f7;
	padding: 69px 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
}
.myText {
	z-index: 1;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #1d3463;
	text-align: justify;
}

.headingX1 {
	color: #1d3463;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 120%;
	text-align: center;
	z-index: 1;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.indicator {
	display: flex;
	gap: 5px;
	justify-content: space-around;

	& > * {
		cursor: pointer;
	}
}
