.button {
	z-index: 5;
	background-color: #f46f4f;
	padding: 21px 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 20px #f36f50;
	cursor: pointer;
}

.link {
	color: #fff;
	display: flex;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.arrow {
	width: 20px;
	height: 20px;
}

.text {
	background-color: unset;
	box-shadow: unset;
	padding: unset;
	.link {
		color: #f46f4f;
	}
}
