.button {
	z-index: 5;
	background-color: #f46f4f;
	border-radius: 4px;
	box-shadow: 0px 0px 20px #f36f50;
	cursor: pointer;
}

.link {
	color: #fff;
	display: flex;
	padding: 21px 15px;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.arrow {
	width: 20px;
	height: 20px;
}

.text {
	background-color: unset;
	box-shadow: unset;
	padding: unset;
	width: fit-content;

	.hovered {
		.link {
			color: #fff;
			padding: unset;
		}
	}

	.link {
		width: fit-content;
		color: #f46f4f;
		padding: unset;
	}
}

.outline {
	background-color: unset;
	box-shadow: unset;
	border: 1px solid #f46f4f;
	border-radius: 8px;

	.link {
		color: #f46f4f;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
	}

	&:hover {
		background-color: #f46f4f;
		box-shadow: 0px 0px 20px #f36f50;

		.link {
			color: #fff;
			text-decoration: none;
		}
	}
}

.course {
	box-shadow: unset;
	margin-left: 20px;
	margin-bottom: 20px;

	&:hover {
		box-shadow: 0px 0px 20px #f36f50;

		.link {
			text-decoration: none;
		}
	}
}

.disable {
	box-shadow: unset;
	background-color: #c7c7c7;
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: not-allowed;

	.link {
		color: #fff;
		cursor: not-allowed;

		&:hover {
			text-decoration: none;
		}
	}
}

.hovered {
	.link {
		color: #fff;
	}
}
