.backgroundImage {
	width: 1920;
	left: 0;
	position: absolute;
	z-index: 0;
	height: 100%px;
	background-position: center;

	&::before {
		content: '';
		background: linear-gradient(180deg, rgba(29, 52, 99, 0.5) 0%, rgba(112, 134, 178, 0.5) 100%);
		mix-blend-mode: normal;
		display: block;
		position: absolute;
		width: 100%;
		height: 335px;
		// max-height: 335px;
		z-index: 1;
	}
}

.content {
	z-index: 5;
	display: flex;
	gap: 181px;
	align-items: center;
	// justify-content: space-between;
}

.leftContent {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.headingX2 {
	color: #fff;
	font-size: 39px;
	line-height: 120%;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 600px;
}

.myText {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
	width: 600px;
}

.rightContent {
	z-index: 5;
	background-color: #f46f4f;
	padding: 21px 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 20px #f36f50;
}

.link {
	color: #fff;
	display: flex;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.iconRightArrow {
	height: min-content;
	width: 24px;
	margin: 0;
	padding: 0;
	line-height: 0;
}
