.card {
	position: relative;
	padding: 20px;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 355px;
	gap: 20px;

	&:hover {
		background-color: #f46f4f;
		border: 1px solid #f46f4f;
		box-shadow: 0px 0px 16px #f36f50;
		.headingX5,
		.headingX6,
		.data,
		.myText {
			color: #fff;
		}
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.imageContainer {
	position: relative;
	width: 313px;
	height: 204px;
	border-radius: 10px;
	background-color: #f3f4f6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	border-radius: 5px;
	position: relative;
	width: 313px;
	height: 255px;
}

.headingX5 {
	font-size: 25px;
	font-weight: 700;
	color: #1d3463;
	line-height: 28.75px;
	font-style: normal;
	letter-spacing: 0.5px;

	span {
		font-weight: normal;
	}
}

.headingX6 {
	font-size: 18px;
	font-weight: 700;
	color: #1d3463;
	line-height: 28px;
	font-style: normal;
}

.myText {
	z-index: 1;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #1d3463;
	text-align: justify;
}

.v2 {
	color: #f46f4f;
}

.active {
	background-color: #f46f4f;
	border: unset;

	.headingX5,
	.headingX6,
	.myText {
		color: #fff;
	}
}

.desc {
	display: flex;
	flex-direction: column;
	height: 128px;
	justify-content: space-between;
}

.activity {
	border-radius: 5px;
}

.data {
	color: #1d3463;
}

.post {
	gap: 1rem;
	.headingX5 {
		font-size: 20px;
	}
	&:hover {
		.link {
			color: #fff;
		}
	}
}
