.section {
	margin-top: 8rem;
}

.leftContent {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 539px;
	align-items: flex-start;
	z-index: 1;
}

.headingX1 {
	color: #1d3463;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 120%;
}

.myText {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #1d3463;
}

.rightContent {
	position: absolute;
	right: 0;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 961px;
		max-height: 981px;
		right: 0;
		z-index: 1;
		// background-color: black;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 62.41%, #ffffff 100%),
			linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 80%);
	}

	// background-image: linear-gradient(to right, red, yellow);
}
