@mixin textHighlight($height: 0.25em, $bottom: -8px, $color: #f46f4f, $width: 20%) {
	content: '';
	position: absolute;
	width: $width;
	display: block;
	bottom: $bottom;
	background-color: $color;
	height: $height;
	border-radius: 100px;
	z-index: -1;
	right: 0;
	left: 0;
	margin: auto;
}

.navbar {
	z-index: 9;
}

.navBg {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) -11.57%,
		rgba(250, 250, 250, 0.4) 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(30px);
}

.active {
	&:hover {
		a.link {
			text-decoration: none;
		}
	}
	.link {
		color: #f46f4f;
	}
}

.mobileMenu {
	display: block;
	cursor: pointer;
	width: 2em;
	height: auto;
}

.nav {
	display: none;
}

.menuBtn {
	display: block;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem;
}

.nav {
	position: fixed;
	z-index: 999;
	right: 0;
	top: 0;
	background-color: rgb(247, 247, 247);
	min-height: 100vh;
	border: 1px solid #f46f4f;
	width: 80%;

	.navMenu {
		display: flex;
		flex-direction: column;
		align-self: stretch;
		margin-top: 3em;
		gap: 1rem;

		.menuCta {
			padding: 1rem 0;
			position: absolute;
			bottom: 580px;
			border: 4px solid #f46f4f;
			width: 100%;
			left: 0;
			height: 68px;

			.link {
				position: absolute;
				left: 12px;
			}

			&:hover {
				background-color: #f46f4f;
				.link {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	li {
		display: block;

		&:hover {
			a {
				text-decoration: underline;
			}
		}
		a {
			text-decoration: none;
			display: block;
			font-size: 1.2rem;
			font-weight: 700;
			line-height: 150%;
			color: #1d3463;
			text-transform: uppercase;
		}
	}
}

.mobileMenuExit {
	cursor: pointer;
	margin: 0.5em;
	filter: invert(1);
}

@media only screen and (min-width: 620px) {
	.nav {
		display: none;
	}

	.nav.menuBtn {
		display: block;
		padding: 1rem;
	}

	.linkLogo {
		a {
			padding: 0;
			line-height: unset;
		}
	}
}

@media only screen and (min-width: 1000px) {
	.mobileMenu,
	.mobileMenuExit {
		display: none !important;
	}

	.nav {
		ul.navMenu {
			position: relative;
			li.menuCta {
				position: relative;
				border: 2px solid #f46f4f;
				border-radius: 50px;
				padding: 0.5rem 1.25rem;
				box-sizing: content-box;
				bottom: unset;
				height: unset;

				a.link {
					position: unset;
				}

				&:hover {
					background-color: #f46f4f;
					a {
						color: #fff;
					}
				}
			}
		}
	}

	.linkLogo {
		display: block;
		width: 277px;
		height: 60px;
		min-width: unset;
		min-height: unset;
		max-width: unset;
		max-height: unset;
	}

	.logo {
		width: 277px;
		height: 60px;
		min-width: unset;
		min-height: unset;
		max-width: unset;
		max-height: unset;
	}

	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nav {
			justify-content: space-between;
			background: none;
			height: auto;
			padding: 0;
			position: relative;
			display: block;
			display: contents;

			.navMenu {
				display: flex;
				flex-direction: row;
				gap: 20px;
				align-items: center;
				margin-top: unset;

				.menuCta {
					a.link {
						padding: 0;
						color: #fff;
					}
				}

				.active {
					&:hover {
						a.link {
							&::before {
								@include textHighlight(0.25em, -8px, #f46f4f, 80%);
							}
						}
					}
					a.link {
						display: block;
						position: relative;
						&::before {
							@include textHighlight();
						}
					}
				}

				.list {
					background-color: unset;
					.link {
						font-size: 0.875em;
						min-width: max-content;
					}
				}
			}
		}
	}
}
