.section {
	margin: 20rem 0;
}

.cardList {
	display: flex;
	align-items: center;
	gap: 20px;
}

.card {
	width: 167px;
	height: 175px;
	border-radius: 10px;
	background: linear-gradient(180deg, #fbfafc 0%, rgba(251, 250, 252, 0.4) 100%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	cursor: pointer;
}

.carousel {
	padding: 0.5rem 0;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.headingX1 {
	color: #1d3463;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 120%;
	text-align: center;
	z-index: 1;
}

.myText {
	z-index: 1;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #1d3463;
}

.arrow {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.indicator {
	display: flex;
	gap: 5px;
	justify-content: space-around;

	& > * {
		cursor: pointer;
	}
}
