.section {
	width: 100%;
	background-color: #f5f5f7;
	padding: 69px 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.headingX1 {
	color: #1d3463;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 120%;
	text-align: center;
	z-index: 1;
}

.headingX5 {
	font-size: 25px;
	font-weight: 700;
	color: #1d3463;
	line-height: 28.75px;
	font-style: normal;
}

.myText {
	z-index: 1;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #1d3463;
	text-align: justify;
}

.whyContent {
	display: flex;
	align-items: center;
}

.image {
	position: relative;
	width: 622px;
	height: 651px;
}

.contents {
	max-width: 527px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.head {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

@media only screen and (max-width: 1150px) {
	.content {
		gap: 32px;
		align-items: flex-start;
	}

	.image {
		display: none;
	}

	.head {
		.headingX1 {
			text-align: left;
		}
		.myText {
			text-align: left;
		}
	}
}
