.container {
	display: flex;
	justify-content: space-between;
	padding: 20px 1.5rem;
	align-items: center;
	min-width: 100%;
	z-index: 1;
}

.servicesWrapper {
	justify-content: center;
}

.navWrapper {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(250, 250, 250, 0));
	backdrop-filter: blur(30px);
	border-radius: 0px 0px 20px 20px;
}

.footerWrapper {
	justify-content: center;
}

.callBackWrapper {
	display: flex;

	height: 335px;
	z-index: 9;
}

.clientWrapper {
	flex-direction: column;
	justify-content: space-between;
	overflow-y: visible;
	z-index: 9;
	gap: 1.5rem;
}

@media only screen and (min-width: 1000px) {
	.container {
		width: 100%;
		padding: 20px 1.8rem;
	}
}

@media only screen and (min-width: 1080px) {
	.container {
		max-width: 1150px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 20px 40px;
	}
}

@media only screen and (min-width: 1150px) {
	.container {
		max-width: 1382px;
		min-width: 1150px;
		margin: 0 auto;
		padding: 20px 80px;
	}
}

@media only screen and (min-width: 1285px) {
	.container {
		max-width: 1382px;
		min-width: 1285px;
		margin: 0 auto;
		padding: 20px 142px;
	}
}

@media only screen and (min-width: 1382px) {
	.container {
		min-width: 1382px;
		margin: 0 auto;
		padding: 20px 142px;
	}
}
